# cat /etc/systemd/system/%APPLICATION%.service
# journalctl -fu %APPLICATION%

[Unit]
Description=Node service for %APPLICATION%
After=syslog.target network.target nss-lookup.target

[Service]
User=node-user
WorkingDirectory=%PATH%
Environment=PORT=%NODEPORT%
EnvironmentFile=%PATH%/../environment_variables
ExecStart=/usr/bin/npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%APPLICATION%

[Install]
WantedBy=multi-user.target
